#header{
	color: #fff;
	padding: 23px 0 5px;
	background: $main-color;
	@include breakpoint($tablet) {
		top: 0;
		left: 0;
		right: 0;
		padding: 0;
		z-index: 2000;
		position: absolute;
		body.mobile-menu-open &{
			position: fixed;
		}
	}
	@include breakpoint($mobile-small) {
		font-size: 13px;
	}
	.container{
		display: flex;
		position: relative;
		align-items: flex-start;
		justify-content: flex-start;
		@include breakpoint($tablet) {
			align-items: center;
		}
	}
	.top-panel{
		display: flex;
		margin: 0 0 23px;
		align-items: center;
		justify-content: flex-start;
		@include breakpoint($desktop) {
			justify-content: space-between;
		}
		@include breakpoint($tablet) {
			margin: 0;
			justify-content: flex-end;
		}
		@include breakpoint($mobile) {
			align-items: flex-end;
			justify-content: center;
			flex-direction: column-reverse;
		}
	}
	.settings-panel{
		display: flex;
		align-items: center;
		justify-content: flex-start;
		@include breakpoint($tablet) {
			margin-right: 20px;
		}
		@include breakpoint($mobile) {
			margin-right: 0;
		}
	}
	.controls{
		padding: 0;
		display: flex;
		margin: 0 -11px;
		list-style: none;
		align-items: center;
		white-space: nowrap;
		justify-content: flex-end;
		@include breakpoint($mobile) {
			margin-bottom: 10px;
		}
		@include breakpoint($mobile) {
			margin-bottom: 8px;
		}
		> li{
			margin: 0 11px;
			position: relative;
			&:before{
				top: 0;
				left: -13px;
				content: '/';
				position: absolute;
			}
			&:first-child{
				&:before{
					display: none;
				}
			}
		}
		a{
			text-decoration: underline;
			&:hover{
				text-decoration: none;
			}
		}
	}
	.burger{
		width: 30px;
		height: 30px;
		display: block;
		position: relative;
		margin: 0 14px 0 0;
		@include rem($tablet) {
			display: none;
		}
		i{
			top: 50%;
			left: 50%;
			height: 2px;
			width: 24px;
			background: #fff;
			position: absolute;
			margin: -1px 0 0 -12px;
			transition: all .35s ease;
			body.mobile-menu-open &{
				background-color: transparent;
			}
			&:after, &:before{
				left: 0;
				right: 0;
				content: '';
				height: 2px;
				background: #fff;
				position: absolute;
				transition: all .35s ease;
			}
			&:after{
				top: -7px;
				margin-top: -1px;
				body.mobile-menu-open &{
					top: 1px;
					transform: rotate(45deg);
				}
			}
			&:before{
				bottom: -7px;
				margin-bottom: -1px;
				body.mobile-menu-open &{
					bottom: 1px;
					transform: rotate(-45deg);
				}
			}
		}
	}
	.links-list{
		margin: 0;
		padding: 0;
		color: #000;
		display: flex;
		font-size: 14px;
		line-height: 1.2;
		list-style: none;
		align-items: stretch;
		justify-content: flex-end;
		@include breakpoint($desktop) {
			font-size: 13px;
		}
		@include breakpoint($mobile) {
			font-size: 12px;
		}
		> li{
			margin: 0 0 0 5px;
			@include breakpoint($desktop) {
				margin-left: 3px;
			}
			&.small{
				margin-left: 10px;
				+ li:not(.small){
					margin-left: 15px;
				}
				a{
					padding: 0;
					border: none;
					min-width: 0;
					background: none;
				}
			}
		}
		a{
			height: 100%;
			display: flex;
			min-width: 103px;
			min-height: 40px;
			background: #fff;
			position: relative;
			border-radius: 8px;
			align-items: center;
			padding: 4px 11px 0;
			border: 1px solid #bdddea;
			transition: all .35s ease;
			justify-content: flex-start;
			@include breakpoint($desktop) {
				min-width: 90px;
			}
			@include breakpoint($mobile) {
				min-width: 80px;
				padding-left: 5px;
				padding-right: 5px;
			}
			@include breakpoint($mobile-small) {
				min-width: 0;
				min-height: 32px;
			}
			&:hover{
				background: rgba(#fff,.74);
			}
		}
		.visual{
			width: 20px;
			flex-shrink: 0;
			font-size: 12px;
			line-height: 1.2;
			font-weight: bold;
			text-align: center;
			margin: -4px 8px 0 0;
			@include breakpoint($mobile-small) {
				width: 18px;
				font-size: 10px;
				margin-right: 4px;
			}
			.icon{
				width: 20px;
				height: 20px;
				display: flex;
				margin: 0 0 2px;
				align-items: center;
				justify-content: center;
			}
			i{
				display: block;
				position: relative;
				background-repeat: no-repeat;
				background-image: url(../images/icons.png);
				&.icon-fav{
					top: 2px;
					width: 16px;
					height: 16px;
					background-position: -1px -20px;
				}
				&.icon-repeat{
					width: 20px;
					height: 20px;
					background-position: 0 0;
				}
			}
		}
	}
}

.logo{
	width: 99px;
	height: 97px;
	flex-shrink: 0;
	display: block;
	margin: 0 20px 12px 0;
	@include breakpoint($tablet) {
		margin: 0 20px 0 0;
	}
	@include breakpoint($mobile) {
		width: 50px;
		height: 49px;
		margin-right: 10px;
	}
	@include breakpoint($mobile-small) {
		margin-right: 10px;
	}
	a{
		height: 100%;
		display: block;
		overflow: hidden;
		text-indent: -9999px;
		background: url(../images/logo.jpg) 50% 50% / contain no-repeat;
	}
}

.header-main-content{
	padding: 1px 0 0;
	width: calc(100% - 137px);
	@include breakpoint($tablet) {
		display: flex;
		padding: 10px 0;
		min-height: 93px;
		align-items: center;
		justify-content: flex-end;
	}
	@include breakpoint($mobile) {
		min-height: 80px;
		width: calc(100% - 60px);
	}
	@include breakpoint($mobile-small) {
		padding: 5px 0;
		min-height: 60px;
	}
}

.search-form{
	padding: 0;
	width: 420px;
	background: #fff;
	margin: 0 10px 0 0;
	position: relative;
	border-radius: 4px;
	border: 2px solid #cacaca;
	@include breakpoint($tablet) {
		width: auto;
		margin: 0 0 20px;
	}
	fieldset{
		margin: 0;
		padding: 0;
		border: none;
		min-width: 0;
	}
	input.text{
		color: #000;
		width: 100%;
		border: none;
		height: 48px;
		display: block;
		font-size: 16px;
		line-height: 1.2;
		background: none;
		border-radius: 4px;
		font-family: inherit;
		padding: 0 84px 0 23px;
		-webkit-appearance: none;
		&::-webkit-input-placeholder{
			opacity: 1;
			color: #838383;
			font-style: italic;
			transition: opacity .35s ease;
		}
		&::-moz-placeholder{
			opacity: 1;
			color: #838383;
			font-style: italic;
			transition: opacity .35s ease;
		}
		&:-moz-placeholder{
			opacity: 1;
			color: #838383;
			font-style: italic;
			transition: opacity .35s ease;
		}
		&:-ms-input-placeholder{
			opacity: 1;
			color: #838383;
			font-style: italic;
			transition: opacity .35s ease;
		}
		&:focus{
			&::-webkit-input-placeholder{
				opacity: 0;
			}
			&::-moz-placeholder{
				opacity: 0;
			}
			&:-moz-placeholder{
				opacity: 0;
			}
			&:-ms-input-placeholder{
				opacity: 0;
			}
		}
	}
	.btn-search{
		top: 1px;
		right: 1px;
		padding: 0;
		bottom: 1px;
		width: 58px;
		cursor: pointer;
		overflow: hidden;
		position: absolute;
		vertical-align: top;
		text-indent: -9999px;
		display: inline-block;
		-webkit-appearance: none;
		-webkit-border-radius: 4px;
		border-radius: 4px;
		border: 2px solid #cacaca;
		background: $main-color url(../images/search-icon.png) 50% 50% / 30px 30px no-repeat;
		transition: all .35s ease;
		&:hover{
			background-color: darken($main-color,10);
		}
	}
}

#nav{
	font-size: 16px;
	line-height: 1.2;
	@include breakpoint($tablet) {
		opacity: 0;
		top: -9999px;
		left: -9999px;
		right: 9999px;
		bottom: 9999px;
		padding: 20px;
		position: fixed;
		overflow-y: auto;
		background: #fff;
		color: $main-color;
		overflow-x: hidden;
		scroll-behavior: smooth;
		transform: translateX(-100%);
		-webkit-overflow-scrolling: touch;
		transition: all 0s ease .35s, opacity .35s ease, transform .35s ease;
		body.mobile-menu-open &{
			left: 0;
			right: 0;
			bottom: 0;
			top: 93px;
			opacity: 1;
			transform: translateX(0);
			transition: opacity .35s ease, transform .35s ease;
		}
	}
	@include breakpoint($mobile) {
		body.mobile-menu-open &{
			top: 80px;
		}
	}
	@include breakpoint($mobile-small) {
		padding: 10px;
		body.mobile-menu-open &{
			top: 60px;
		}
	}
	.nav-list{
		padding: 0;
		margin: 0 -7px;
		padding: 0 45px;
		list-style: none;
		position: relative;
		@include breakpoint($tablet) {
			padding: 0;
			display: flex;
			flex-wrap: wrap;
			align-items: flex-start;
			justify-content: flex-start;
		}
		.slick-arrow{
			top: 50%;
			padding: 0;
			color: #fff;
			width: 26px;
			height: 26px;
			display: block;
			cursor: pointer;
			background: none;
			margin: -14px 0 0;
			line-height: 26px;
			font-weight: bold;
			text-align: center;
			border-radius: 50%;
			position: absolute;
			text-align: center;
			border: 1px solid #fff;
			transition: all .35s ease;
			&:hover{
				background: #fff;
				color: $main-color;
			}
			&.slick-disabled{
				opacity: .5;
				pointer-events: none;
			}
		}
		.slick-prev{
			left: 0;
			line-height: 20px;
			transform: rotate(180deg);
		}
		.slick-next{
			right: 0;
		}
		li{
			@include rem($tablet) {
				margin: 0 7px;
				white-space: nowrap;
			}
		}
		> li{
			@include breakpoint($tablet) {
				margin: 0 7px;
				white-space: nowrap;
			}
		}
		a{
			&:hover{
				@include rem($mobile) {
					text-decoration: underline;
				}
			}
		}
	}
	.more{
		@include rem($tablet) {
			margin-left: 0;
		}
		@include breakpoint($tablet) {
			width: 100%;
			padding: 15px 0 0;
			margin-top: 10px !important;
			border-top: 2px solid #cacaca;
		}
		.icon-burger{
			width: 30px;
			height: 30px;
			display: block;
			cursor: pointer;
			position: relative;
			border-radius: 50%;
			border: 1px solid #fff;
			transition: all .35s ease;
			@include breakpoint($tablet) {
				display: none;
			}
			&:hover{
				background: #fff;
				span, span:after, span:before{
					background: $main-color;
				}
			}
			span{
				top: 50%;
				left: 50%;
				height: 1px;
				width: 14px;
				background: #fff;
				position: absolute;
				margin: 0 0 0 -7px;
				transition: all .35s ease;
				&:after, &:before{
					left: 0;
					right: 0;
					content: '';
					height: 1px;
					background: #fff;
					position: absolute;
					transition: all .35s ease;
				}
				&:after{
					top: -5px;
				}
				&:before{
					bottom: -5px;
				}
			}
		}
	}
	.drop{
		opacity: 0;
		z-index: 100;
		top: -9999px;
		left: -9999px;
		right: 9999px;
		margin: 3px 0 0;
		background: #fff;
		min-height: 390px;
		color: $main-color;
		padding: 14px 16px;
		position: absolute;
		border: 2px solid $main-color;
		transition: all 0s ease .35s, opacity .35s ease;
		@include breakpoint($tablet) {
			margin: 0;
			padding: 0;
			opacity: 1;
			border: none;
			min-height: 0;
			position: static;
			background: none;
		}
		h2, .h2{
			display: block;
			font-size: 24px;
			line-height: 1.2;
			margin: 0 0 10px;
			@include breakpoint($mobile) {
				font-size: 20px;
			}
			@include breakpoint($mobile-small) {
				font-size: 18px;
			}
		}
		.nav-categories-list{
			padding: 0;
			display: flex;
			margin: 0 -2px;
			flex-wrap: wrap;
			font-size: 15px;
			line-height: 1.2;
			list-style: none;
			align-items: stretch;
			justify-content: flex-start;
			@include breakpoint($mobile) {
				margin-bottom: 15px;
			}
			@include breakpoint($mobile-small) {
				margin-left: -5px;
				margin-right: -5px;
			}
			> li{
				height: 51px;
				margin: 0 0 4px;
				padding: 0 2px;
				width: 14.2857%;
				white-space: normal;
				@include breakpoint($tablet) {
					width: 150px;
				}
				@include breakpoint($mobile-small) {
					width: 50%;
					padding-left: 5px;
					padding-right: 5px;
				}
			}
			a{
				color: #000;
				display: flex;
				min-height: 51px;
				border-radius: 4px;
				padding: 0 4px 0 0;
				align-items: stretch;
				word-break: break-word;
				justify-content: flex-start;
				transition: box-shadow .35s ease, transform .35s ease;
				&:hover{
					text-decoration: none;
					transform: translateY(-2px);
				}
				.visual{
					width: 48px;
					flex-shrink: 0;
					margin: 0 8px 0 0;
					img{
						width: 100%;
						height: 100%;
						display: block;
						object-fit: cover;
					}
				}
				.text{
					display: block;
					padding: 4px 0;
					align-self: center;
				}
			}
		}
		.games-group-list{
			margin-bottom: 15px;
			li{
				width: 80px;
				@include breakpoint($mobile-small) {
					width: 20%;
				}
			}
		}
	}
	&.open{
		.more{
			.icon-burger{
				span{
					background-color: transparent;
					&:after{
						top: 0;
						transform: rotate(45deg);
					}
					&:before{
						bottom: 0;
						transform: rotate(-45deg);
					}
				}
			}
		}
		.drop{
			top: 100%;
			opacity: 1;
			left: 20px;
			right: 20px;
			transition: opacity .35s ease;
		}
	}
}