{% if objects %}
    {% load thumbnail %}
    <div class="article">
        <strong class="article__heading">{{ title }}</strong>
        <div class="article__content">
            <ul class="tags-list bordered">
                {% for obj in objects %}
                    <li>
                        <a href="{{ scheme }}://{{ request.get_host }}{{ obj.get_absolute_url }}">
                            {% if obj.image %}
                                {% thumbnail obj.image "28x28" crop="center" as im %}
                                    <span class="tag-visual"><img data-src="{{ im.url }}" alt="{{ obj }}" class="lazy"></span>
                                {% endthumbnail %}
                            {% endif %}
                            {{ obj.text_link|default:obj }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endif %}